pandas
optuna
numpy
openpyxl
python-dotenv
db-dtypes
jupyter
notebook
ipykernel
joblib
seaborn
ipywidgets
scikit-learn
xgboost
catboost
lightgbm
pydantic
fastapi
feature_engine
streamlit
requests
plotly
evidently
scipy
uvicorn[standard]